* {
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
}

.text-col-white {
    color: white;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: white;
    height: 88px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 64px;
    height: 23px;
}

.search-bar {

    width: 372px;
    height: 56px;
    display: flex;

    align-items: center;
    border-radius: 8px;
    position: relative;
}

.search-logo {
    position: absolute;
    margin-left: 16px;
}

.search-input {
    width: inherit;
    height: inherit;
    background: #F5F5F5;
    border-radius: inherit;
    border: none;
    padding-left: 48px;
}

/*.search-input:before {*/
/*    display: block;*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    content:url('./image/header/Search.png')*/
/*}*/

.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 369px;
    height: 19px;
}

.nav-menu-item {
    opacity: 30%;
    color: black;

}

.nav-menu-item:hover,
.nav-menu-item:focus {
    opacity: 100%;
    color: inherit;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:144px;
    height: 32px;
}

.main-container {
    /*max-width: 1440px;*/
    max-width: 1120px;
    /*background-color: green;*/
    /*margin: 0;*/
}

.hero {
    background-color: #211C24;
    height: 632px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.hero-content-container{
    width: 714px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.hero-content {

}

.content-text{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 25px;
    height: 32px;
}

.content-text-description{
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    height: 24px;
}

.hero-title {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;;
    font-weight: 100;
    font-size: 96px;
    margin-top: 24px;
}

.hero-title-pro{
    font-weight: 600;
}

.hero-button {
    background-color: #211C24;
    color: #FFFFFF;
    margin-top: 24px;
}

.hero-image {
    /*padding-right: 160px;*/
}

.main-shop-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.shop-items-left {
    background-color: seashell;
    height: inherit;

}

.shop-items-left-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    height: 328px;
}

.shop-items-left-1-img {
    width: 360px;
    height: 343px;
}

.shop-items-left-1-desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 338px;
    margin-left: -26px;
}

.shop-items-left-1-head {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 49px;
    height:  40px;
    color: #000000;
}

.shop-items-left-1-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    height:  24px;
    color: #909090;
    margin-top: 16px;
}

.shop-items-left-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EDEDED;
    height: 272px;
}

.shop-items-left-desc {
    flex-direction: column;
    margin-left: 48px;
    max-width: 160px;
}

.shop-items-left-head {
    font-family: "Inter", sans-serif;
    font-size: 29px;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
}

.shop-items-head-span {
    font-weight: 500;
}

.shop-items-left-text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #909090;
    margin-top: 8px;
}

.shop-items-left-3 {
    display: flex;
    align-items: center;
    height: 272px;
    background-color: #353535;
}

.shop-items-right {
    display: flex;
    align-items: center;
    background-color: #EDEDED;

    height: 100%;
}


.shop-items-right-desc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 360px;
    margin-left: 56px;
}

.shop-items-right-head {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 100;
    line-height: 56px;
    text-align: left;
    color: #000000;

}

.shop-items-right-text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #909090;
    margin-top: 16px;

}

.top-sale-button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    width: inherit;
    background-color: #EDEDED;
    border: 1px solid #000000;
    margin-top: 16px;

}

.categories-browser {
    background-color: violet;
}

.featured-products {
    background-color: cornflowerblue;
}

.featured-categories {
    background-color: brown;
}

.discount-categories{
    background-color: coral;
}

.marketing-banner {
    background-color: darkgrey;
}

.footer {
    background-color: chartreuse;
}